In [2]:
import statsmodels.formula.api as smf

import pandas as pd

In [3]:
weight_df = pd.read_csv("https://raw.githubusercontent.com/mark-andrews/pysc01/master/data/weight.csv")

In [4]:
# M <- lm(weight ~ height, data = weight_df)
M = smf.ols('weight ~ height', data = weight_df)

In [7]:
results = M.fit()

In [8]:
results = smf.ols('weight ~ height', data = weight_df).fit()

In [10]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 weight   R-squared:                       0.436
Model:                            OLS   Adj. R-squared:                  0.436
Method:                 Least Squares   F-statistic:                     4688.
Date:                Thu, 03 Dec 2020   Prob (F-statistic):               0.00
Time:                        16:19:30   Log-Likelihood:                -23563.
No. Observations:                6068   AIC:                         4.713e+04
Df Residuals:                    6066   BIC:                         4.714e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   -117.1280      2.879    -40.688      0.000    -122.771    -111.485
height         1.1481      0.017     68.472      0.000       1.115       1.181
==============================================================================
Omnibus:                      190.197   Durbin-Watson:                   1.893
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              214.639
Skew:                           0.414   Prob(JB):                     2.46e-47
Kurtosis:                       3.404   Cond. No.                     3.27e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.27e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [18]:
results.pvalues

Intercept    0.0
height       0.0
dtype: float64

In [19]:
results.params

Intercept   -117.128021
height         1.148138
dtype: float64

In [17]:
results.params.values

array([-117.12802067,    1.14813765])

In [24]:
results.conf_int()

                    0           1
Intercept -122.771280 -111.484761
height       1.115266    1.181009

In R
```
M <- lm(weight ~ height, data = weight_df)
predict(M)
```

In [27]:
results.predict()

array([86.78122514, 78.28500656, 82.07386079, ..., 71.62580822,
       68.41102281, 71.28136692])

In R
```
M <- lm(weight ~ height, data = weight_df)
predict(M, newdata = tibble(height = c(150, 200)))
```

In [29]:
results.predict(exog = pd.DataFrame(data = {'height': [150, 200, 250]}))

0     55.092626
1    112.499508
2    169.906391
dtype: float64

In [35]:
weight_df['heavy'] = 1*(weight_df.weight > 90)

In [36]:
weight_df

      subjectid  gender  height  weight handedness  age      race  heavy
0         10027    male   177.6    81.5      right   41     white      0
1         10032    male   170.2    72.6       left   35     white      0
2         10033    male   173.5    92.9       left   42     black      1
3         10092    male   165.5    79.4      right   31     white      0
4         10093    male   191.4    94.6      right   21     black      1
...         ...     ...     ...     ...        ...  ...       ...    ...
6063      29501  female   168.7    83.2      right   51  hispanic      0
6064      29502  female   161.3    71.7      right   40  hispanic      0
6065      29503  female   164.4    76.2      right   40     black      0
6066      29511  female   161.6    63.2      right   31  hispanic      0
6067     920103  female   164.1    61.0      right   27  hispanic      0

[6068 rows x 8 columns]

In [37]:
results_glm = smf.logit('heavy ~ height + age + gender', data = weight_df).fit()

Optimization terminated successfully.
         Current function value: 0.414004
         Iterations 8

In [39]:
print(results_glm.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:                  heavy   No. Observations:                 6068
Model:                          Logit   Df Residuals:                     6064
Method:                           MLE   Df Model:                            3
Date:                Thu, 03 Dec 2020   Pseudo R-squ.:                  0.2538
Time:                        16:31:01   Log-Likelihood:                -2512.2
converged:                       True   LL-Null:                       -3366.5
Covariance Type:            nonrobust   LLR p-value:                     0.000
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept        -27.6712      1.022    -27.075      0.000     -29.674     -25.668
gender[T.male]     1.1942      0.142      8.421      0.000       0.916       1.472
height             0.1372      0.006     23.345      0.000       0.126       0.149
age                0.0532      0.004     13.486      0.000       0.045       0.061
==================================================================================

In [42]:
results_glm.params

Intercept        -27.671171
gender[T.male]     1.194198
height             0.137195
age                0.053184
dtype: float64

In [43]:
results_glm.pvalues

Intercept         1.936627e-161
gender[T.male]     3.730542e-17
height            1.549985e-120
age                1.885654e-41
dtype: float64

## rpy2

In [44]:
import rpy2

In [45]:
from rpy2.robjects import pandas2ri